// $aside-heigth defined at _variables.scss
@mixin navbar() {
  @include background-color($blue);
  height: $aside-height;
  overflow: auto;
  > div:first-of-type {
    text-align: right;
    > button {
      position: fixed;
      z-index: 2001;
      right: 0;
      top: 0;
      padding: $gutter;
      span {
        display: inline-block;
        cursor: pointer;
        background-image: url(/assets/icons/menu-white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        width: 24px;
        height: 14px;
      }
    }
    > button:nth-of-type(2) {
      display: none;
      span {
        background-image: url(/assets/icons/close.svg);
        width: 20px;
        height: 20px;
      }
    }
  }
  > ul {
    @include background-color($white, 0.95);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    padding-top: $gutter*4;
    > li {
      > a {
        @include text-color($text-black, 1);
        @include type-setting(0);
        display: block;
        padding: $gutter $gutter*2;
        border-bottom: 2px solid transparent;
        margin-right: 0;
        &.active,
        &:hover {
          @include text-color($text-blue, 1);
          border-bottom-color: color($text-blue, 1);
        }
      }
    }
  }
}

.navbar-cell {
  @include navbar();
}
