// $aside-heigth defined at _variables.scss
@mixin mobile-menu() {
  @include background-color($blue);
  height: $aside-height;
  overflow: auto;
  padding: $gutter*2;
  > div:first-of-type {
    background-image: url(/assets/logo-v1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  > div:nth-of-type(2) {
    text-align: right;
    > button {
      padding: $gutter;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 2001;
      span {
        background-image: url(/assets/icons/menu-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: inline-block;
        height: 14px;
        margin: 0;
        width: 24px;
      }
    }
    > button:nth-of-type(2) {
      display: none;
      span {
        background-image: url(/assets/icons/close.svg);
        height: 20px;
        width: 20px;
      }
    }
  }
  > ul {
    @include background-color($white, 0.95);
    @include shadow-down($light-shadow, 1);
    display: none;
    left: $gutter;
    padding-bottom: $gutter*2;
    padding-top: $gutter*2;
    position: fixed;
    right: 0;
    right: 0;
    top: 0;
    z-index: 2000;
    > li {
      > a {
        @include text-color($text-black, 1);
        @include type-setting(1);
        border-bottom: 2px solid transparent;
        display: block;
        margin-right: 0;
        padding: $gutter $gutter*2;
        &.active,
        &:hover {
          @include text-color($text-blue, 1);
          border-bottom-color: color($text-blue, 1);
        }
      }
    }
  }
}

.mobile-menu-cell {
  @include mobile-menu();
}
