@mixin map-edit() {
  height: 100%;
  > div {
    border-radius: 8px;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
  }
  .leaflet-tile-pane {
    opacity: 0.6;
  }
  .leaflet-shadow-pane {
    opacity: 0.2;
  }
  .geometry-marker,
  .geometry-polygon,
  .geometry-polyline {
    &.home {stroke: $home;}
    &.water {stroke: $water;}
    &.trash {stroke: $trash;}
    &.public {stroke: $public;}
    &.health {stroke: $health;}
    &.energy {stroke: $energy;}
    &.sewer {stroke: $sewer;}
    &.infrastructure {stroke: $infrastructure;}
    &.editable {
      fill: none;
      stroke: color($red, 0.7);
      stroke-width: 2px;
    }
  }
  .geometry-polygon {
    &.home {fill: $home;}
    &.water {fill: $water;}
    &.trash {fill: $trash;}
    &.public {fill: $public;}
    &.health {fill: $health;}
    &.energy {fill: $energy;}
    &.sewer {fill: $sewer;}
    &.infrastructure {fill: $infrastructure;}
    &.base-geometry {
      fill: transparent;
      stroke: color($blue, 0.7);
      stroke-dasharray: 3 5;
      stroke-width: 2px;
    }
    &.editable {
      fill: color($red, 0.7);
      stroke: color($red, 0.7);
      stroke-width: 2px;
    }
  }
}

.map-edit-cell{
  @include map-edit();
}

