.map-edit-cell
  #map-container
    input type="hidden" name="#{object_to_set}[#{map_property}]" class="geometry"
    input type="hidden" name="#{object_to_set}[#{map_geo_property}]" class="geo_geometry"

javascript:
  $(function() {
    new CDLV.Components['map_edit']({
      el: $('.map-edit-cell'),
      defaults: #{MAP.to_json},
      token: '#{MAPBOX_TOKEN}',
      polygon: #{polygon},
      marker: #{marker},
      edit: #{edit},
      controls: {
        polygon: #{controls[:polygon]},
        marker: #{controls[:marker]},
        polyline: #{controls[:polyline]},
        circlemarker: #{controls[:circlemarker]},
        rectangle: #{controls[:rectangle]},
        circle: #{controls[:circle]},
      }
    })
  });
