.map-edit-cell
  #map-container


javascript:
  $(function() {
    new CDLV.Components['map_edit']({
      el: $('.map-edit-cell'),
      defaults: #{MAP.to_json},
      token: '#{MAPBOX_TOKEN}',
      base: #{base},
      editable: #{editable},
      controls: {
        polygon: #{controls[:polygon]},
        marker: #{controls[:marker]},
        polyline: #{controls[:polyline]},
        circlemarker: #{controls[:circlemarker]},
        rectangle: #{controls[:rectangle]},
        circle: #{controls[:circle]},
      }
    })
  });
