@mixin home-index {
  * {
    box-sizing: border-box;
  }

  > main {
    > .main-section {
      overflow-y: hidden;
      position: relative;

      > nav {
        @include clearfix;

        background-color: $red-covid;
        padding: ($gutter * 3) ($gutter * 3) 0 ($gutter * 3);
        position: relative;
        z-index: 4;

        > div:first-of-type {
          float: left;
          position: relative;
          width: 30%;
          z-index: 1;

          > img {
            vertical-align: top;
            width: 100%;
          }
        }

        > div:last-of-type {
          color: $text-white;
          float: right;
          position: relative;
          text-align: right;
          width: 65%;
          z-index: 1;

          > a {
            @include button();

            border-color: $white;
            text-transform: none;

            > span {
              @include type-setting(6);

              color: $text-white;
              display: inline-block;
            }
          }
        }
      }

      > section ~ section {
        > div.diagonal {
          height: 0;
          position: relative;
          top: -1px;
          z-index: 2;

          > img {
            width: 100%;
          }
        }

        > div.diagonal:last-of-type {
          position: relative;
          top: 0;
          z-index: 2;

          > img {
            transform: translatey(-100%);
            width: 100%;
          }
        }
      }

      > section ~ section:nth-of-type(even) {
        > div {
          > img {
            margin: 0 #{-$gutter * 3};
            position: relative;
            vertical-align: top;
            width: calc(100% + #{$gutter * 6});
            z-index: -3;
          }
        }
      }

      > section ~ section:nth-of-type(odd) {
        > div {
          position: relative;

          > img {
            margin: 0 #{-$gutter * 3};
            position: relative;
            vertical-align: top;
            width: calc(100% + #{$gutter * 6});
            z-index: -3;
          }
        }
      }

      > section:last-of-type {
        > div {
          > img {
            height: auto;
            margin-top: 10px;
            width: 100vw;
          }
        }
      }

      > section:first-of-type {
        font-family: 'Roboto Slab';

        > div:first-of-type {
          @include clearfix;

          background-image: image-url("home/landing_bg.jpg");
          background-size: cover;
          position: relative;
          z-index: 3;

          > div:last-of-type {
            background-color: rgba(255, 255, 255, 0.8);
            bottom: 0;
            left: $gutter * 3;
            position: absolute;
            top: 0;
            width: 330px;
            z-index: -1;

            > div {
              position: absolute;
              top: 50%;
              transform: translate3d(0, -50%, 0);
              width: 100%;

              > a {
                @include type-setting(-1);

                background-color: $white;
                border-radius: 2px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                color: $fuchsia;
                display: block;
                margin: $gutter;
                max-width: 400px;
                padding: ($gutter / 2) $gutter;
                text-align: center;

                &:hover {
                  background-color: $fuchsia;
                  color: $white;
                }
              }
            }
          }

          > div.diagonal {
            position: relative;
            top: -1px;

            > img {
              width: 100%;
            }
          }

          > div:nth-of-type(2) {
            float: right;
            max-width: 520px;
            width: 50%;

            > a {
              background-color: $fuchsia;
              border-radius: 2px;

              // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
              box-shadow: 0 13px 8px -3px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 9px 0 rgba(0, 0, 0, 0.12);
              display: block;
              margin: ($gutter * 4) ($gutter * 3) ($gutter * 4);
              padding: $gutter * 2;

              > p {
                > strong {
                  @include type-setting(5);

                  color: $white;
                  display: inline-block;
                  font-weight: 300;
                  vertical-align: middle;
                  width: 50%;
                }

                > strong:last-of-type {
                  text-align: right;

                  > span {
                    @include type-setting(5);

                    background-color: white;
                    border-radius: 2px;
                    color: $fuchsia;
                    display: inline-block;
                    padding: $gutter;
                    text-align: center;
                    vertical-align: middle;

                    &:hover {
                      color: $red-covid;
                    }
                  }
                }
              }
            }
          }
        }

        > div.diagonal {
          height: 0;
          position: relative;
          top: -1px;

          > img {
            width: 100%;
          }
        }

        > div:nth-of-type(2) {
          background-color: $blue;
          color: $white;
          padding: $gutter * 2;
          position: relative;
          text-align: right;

          > p {
            @include type-setting(5);

            display: inline-block;
            margin-bottom: $gutter;
            position: relative;
            width: 87%;
            z-index: 2;

            & + p {
              margin-bottom: 0;
            }
          }
        }
      }

      > footer {
        @include clearfix;

        background: $blue;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        position: relative;

        > div.diagonal {
          bottom: 0;
          height: auto;
          position: absolute;
          transform: translateY(50%);
          width: 100%;

          > img {
            vertical-align: top;
          }
        }

        > div.diagonal ~ div {
          float: left;
          padding: $gutter * 3;
          position: relative;
          z-index: 1;

          &:nth-of-type(2) {
            width: 30%;
          }

          &:nth-of-type(3) {
            width: 70%;
          }

          > a {
            @include clearfix;

            display: inline-block;
            vertical-align: top;

            > img {
              display: block;
              max-height: 50px;
              vertical-align: top;
              width: auto;

              &.altec-logo {
                height: 30px;
              }
            }

            > span {
              @include type-setting(-1);

              color: $white;
              display: inline-block;
              margin-top: $gutter;
            }
          }
        }

        > div.diagonal ~ div:last-of-type {
          float: right;
          text-align: right;

          > a {
            > img {
              clear: both;
              float: right;
              vertical-align: top;
            }

            margin: 0 $gutter;
          }
        }
      }

      > section:nth-of-type(2) {
        > header {
          padding-top: $gutter * 4;
        }
      }

      > section + section + section {
        box-shadow: 0 -1px 3px -1px rgba(0, 0, 0, 0.2);
      }

      > .section-5 {
        > div.diagonal:last-of-type {
          > img {
            margin: 0 #{-$gutter * 5};
            position: relative;
            top: 1px;
            vertical-align: top;
            width: calc(100% + #{$gutter * 10});
          }
        }
      }

      > section + section {
        overflow: hidden;
        padding: 0 ($gutter * 3);
        position: relative;
        z-index: 1;

        > header {
          > h1 {
            @include type-setting(2);

            font-family: 'Roboto Slab';
            font-weight: 600;
            margin-bottom: $gutter * 3;
            margin-top: $gutter * 3;
            position: relative;

            &:before, &:after {
              content: '';
              display: block;
              height: $gutter * 2;
              opacity: 0.5;
              position: absolute;
              width: 61%;
              z-index: -1;
            }

            &:before {
              background-color: $red-covid;
              left: 0;
              top: 30px;
            }

            &:after {
              background-color: $fuchsia;
              bottom: 0;
              right: 0;
            }
          }
        }

        > p {
          @include type-setting(6);

          margin-bottom: $gutter * 3;
        }

        > div {
          > img {
            margin: 0 #{-$gutter * 3};
            vertical-align: top;
            width: calc(100% + #{$gutter * 6});
          }
        }
      }
    }
  }

  @media (max-width: 1080px) {
    > main {
      > .main-section {
        > section:last-of-type {
          > div {
            > img {
              height: auto;
              margin-top: 10px;
              width: 100vw;
            }
          }
        }

        > section:first-of-type {
          > div:first-of-type {
            > div:nth-of-type(2) {
              min-width: auto;
              width: 50%;

              > a {
                display: block;
                margin: ($gutter * 6) auto;
                max-width: 75%;
                text-align: center;
                width: 80%;

                > p {
                  @include type-setting(5);

                  > strong {
                    display: block;
                    width: auto;
                  }

                  > strong:last-of-type {
                    margin-top: $gutter;
                    text-align: center;
                  }
                }
              }
            }
          }

          > div:last-of-type {
            text-align: center;

            > p {
              text-align: justify;
            }
          }
        }

        > section + section {
          > header {
            > h1 {
              @include type-setting(3);
            }
          }

          > p {
            @include type-setting(0);
          }
        }
      }
    }
  }

  @media (max-width: 760px) {
    > main {
      > .main-section {
        > nav {
          height: auto;

          > div:first-of-type {
            display: block;
            float: none;
            margin-bottom: $gutter * 2;
            text-align: center;
            width: 100%;

            > img {
              max-width: 70%;
            }
          }

          > div:last-of-type {
            display: block;
            float: none;
            width: 100%;

            > span {
              text-align: center;
              width: auto;

              @include type-setting(0);

              > span {
                display: block;
              }
            }
          }
        }

        > section ~ section:nth-of-type(1) {
          > div {
            position: relative;

            > img {
              margin: 0 #{-$gutter * 3};
              position: relative;
              vertical-align: top;
              width: calc(100% + #{$gutter * 6});
              z-index: -3;
            }
          }
        }

        > section ~ section:nth-of-type(2) {
          > div {
            position: relative;

            > img {
              margin: 0 #{-$gutter * 3};
              position: relative;
              vertical-align: top;
              width: calc(100% + #{$gutter * 6});
              z-index: -3;
            }
          }
        }

        > section:last-of-type {}

        > section:first-of-type {
          > div:first-of-type {
            > div {
              float: none !important;
              max-width: 100% !important;
              position: static !important;
              width: 100% !important;

              > a {
                margin: ($gutter * 4) ($gutter * 2) ($gutter * 4) !important;
                max-width: 100% !important;
                width: auto !important;
              }

              > div {
                max-width: auto;
                padding: $gutter * 2;
                position: static !important;
                transform: none !important;

                > a {
                  margin: $gutter auto !important;
                }
              }
            }
          }

          > div:last-of-type {
            > p {
              text-align: left;

              @include type-setting(0);
            }
          }
        }

        > footer {
          > div.diagonal {
            height: auto;
            position: absolute;

            & ~ div:nth-of-type(2) {
              &:nth-of-type(2) {
                width: 100%;
              }
            }

            > img {
              width: 101%;
            }
          }

          > div:nth-of-type(2) {
            float: none;
            width: 100%;

            > a {
              text-align: center;

              > img {
                float: none;
                margin: 0 auto;
                max-width: 300px;
                width: 80%;
              }
            }
          }

          > div:nth-of-type(3) {
            text-align: center;
            width: 100%;

            > a {
              > img {
                float: none;
                margin: 0 auto;
                margin-bottom: $gutter * 3;
                max-width: 300px;
                width: 80%;
              }
            }
          }
        }

        > section + section {
          > header {
            > h1 {
              @include type-setting(4);
            }
          }
        }
      }
    }
  }

  @media (max-width: 426px) {
    > main {
      > .main-section {
        > nav {
          > div:last-of-type {
            > span {
              @include type-setting(0);
            }
          }
        }

        > section:last-of-type {
          > div {}
        }

        > section:first-of-type {
          > div:first-of-type {
            > div {
              float: none !important;
              position: static !important;
              width: 100% !important;

              > a {
                margin: ($gutter * 4) ($gutter * 2) ($gutter * 4) !important;
                max-width: 100%;
                width: auto;
              }

              > div {
                padding: $gutter * 2;
                position: static !important;
                transform: none !important;

                > a {
                  margin: $gutter auto !important;
                }
              }
            }
          }

          > div:last-of-type {
            > p {
              text-align: left;

              @include type-setting(0);
            }
          }
        }

        > footer {
          > div {
            float: none;
            width: 100%;

            > a {
              text-align: center;

              > img {
                float: none;
                margin: 0 auto;
                max-width: 300px;
                width: 80%;
              }
            }
          }

          > div.diagonal ~ div,
          > div.diagonal ~ div:last-of-type {
            padding-bottom: 0;
            text-align: center;
            width: 100%;

            > a {
              margin-bottom: $gutter * 3;
              text-align: center;

              > img {
                float: none;
                height: auto;
                margin: 0 auto;
                max-height: none;
                max-width: 300px;
                width: 80%;
              }
            }
          }

          > div.diagonal ~ div:last-of-type {
            padding-top: 0;
          }
        }

        > section + section {
          > header {
            > h1 {
              @include type-setting(4);
            }
          }
        }
      }
    }
  }
}

#home-index.home-desktop {
  @include home-index;
}
