$base-font-size: 1rem !default;
$font-ms-ratio: 1.25 !default;
$base-line-height: ($base-font-size * 1.4) !default;

// Based on https://unindented.org/articles/trigonometry-in-sass/
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}
// For the negative settings we are calculating the $font-ms-ratio as:
// -1 : pow($font-ms-ratio, -0.7) = 0.817746879247927
// -2 : pow($font-ms-ratio, -1.4) = 0.6687099585197237
$type-settings: (
  -3: (
    font-size: 14px,
    line-height: 22px
  ),
  -2: (
    font-size: 16px,
    line-height: 28px
  ),
  -1: (
    font-size: 14px,
    line-height: 20px
  ),
  0: (
    font-size: 16px,
    line-height: 24px
  ),
  1: (
    font-size: 96px,
    line-height: 96px
  ),
  2: (
    font-size: 60px,
    line-height: 60px
  ),
  3: (
    font-size: 48px,
    line-height: 50px
  ),
  4: (
    font-size: 34px,
    line-height: 40px
  ),
  5: (
    font-size: 24px,
    line-height: 32px
  ),
  6: (
    font-size: 20px,
    line-height: 32px
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}
