@mixin map-references() {
  height: 100%;
  > div {
    height: 100%;
    min-height: 400px;
    border-radius: 8px;
    overflow: hidden;
  }
  .leaflet-tile-pane {
    opacity: 0.6;
  }
  .leaflet-shadow-pane {
    opacity: 0.2;
  }
  .leaflet-marker-icon {
    background-color: transparent;
    border: none;
  }
  .geometry-marker,
  .geometry-polygon,
  .geometry-polyline {
    &.water {stroke: $water;}
    &.trash {stroke: $trash;}
    &.public {stroke: $public;}
    &.health {stroke: $health;}
    &.energy {stroke: $energy;}
    &.sewer {stroke: $sewer;}
    &.infrastructure {stroke: $infrastructure;}
  }
  .geometry-polygon {
    &.water {fill: $water;}
    &.trash {fill: $trash;}
    &.public {fill: $public;}
    &.health {fill: $health;}
    &.energy {fill: $energy;}
    &.sewer {fill: $sewer;}
    &.infrastructure {fill: $infrastructure;}
    &.base-geometry {
      stroke-width: 1px;
      fill: transparent;
      stroke: color($blue, 0.7);
      stroke-dasharray: 5 2;
    }
  }
  p.reference-marker {
    box-sizing: content-box;
    display: inline-block;
    position: absolute;
    border-radius: 100%;
    border: $border solid $blue;
    width: $outer-diameter;
    height: $outer-diameter;
    margin: $gutter;
    vertical-align: middle;
    margin: 0;
    @include transform(translate3d(-50%, -50%, 0));
    &::before {
      content: '';
      display: block;
      border-radius: 100%;
      width: $inner-diameter;
      height: $inner-diameter;
      background-color: $blue;
      position: relative;
      top: #{($outer-diameter - $inner-diameter)/2};
      left: #{($outer-diameter - $inner-diameter)/2};
    }
    > span {
      @include transform(translate3d(-50%, -50%, 0));
      @include text-color($white, 1);
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

.map-references-cell{
  @include map-references();
}
