@mixin photos-jfiler() {
  .jFiler {
    display: none;
  }
  .jFiler-item {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  .jFiler-item-icon {
    float: left;
    i {
      display: block;
      margin-top: 12px;
    }
  }
  .jFiler-item-info {
    float: left;
  }
  .jFiler-item-assets {
    float: right;
  }
  .jFiler-item-others {
    line-height: 19px;
  }

  .jFiler-items-list{
    columns: 3;
  }

  .jFiler-photo {
    display: inline-block;
    vertical-align: top;
  }
}

.photos-uploader-cell {
  @include photos-jfiler;
}
