.photos-uploader-cell
  = form_for Photo.new, url: url, method: :post, html: { multipart: true } do |form|
    = form.file_field :image, id: file_input_id
    .photos-preview
      .jFiler-items
javascript:
  $(function() {
    new CDLV.Components['photos/uploader']({
      el: $('.photos-uploader-cell'),
      images: #{raw images},
      loading_image: '#{asset_path('/assets/icons/image.svg')}',
      fileInputId: '#{file_input_id}',
      ownerData: { name: '#{owner.class.name.downcase}_id', value: '#{owner.id}'}
    })
  });
