.photos-uploader-cell
  = form_for Photo.new, url: url, method: :post, html: { multipart: true } do |form|
    = form.file_field :image, id: file_input_id
    .photos-uploads
      .jFiler-items

javascript:
  $(function() {
    new CDLV.Components['photos/uploader']({
      el: $('.photos-uploader-cell'),
      images: #{raw images},
      fileInputId: '#{file_input_id}',
      owner: { pluralizeName: '#{owner_pluralize_name}', id: '#{owner_id}'}
    })
  });
