= content_for :main_header do
  == cell('page/header', t('actions.edit'), breadcrumbs: [ t('admin.sections.dashboard'), t('admin.sections.neighborhoods'), current_neighborhood.name ] )
= render 'form'
