@mixin works-table() {
  @include grid-column(16);
  > table {
    > tbody {
      padding-top: 10px;
      > tr {
        border-bottom: 1px solid $light-grey;
        &:first-of-type {
          border-top: 1px solid $light-grey;
        }
        &:last-of-type {
          border-bottom: none;
        }
        > td {
          padding: $vgutter*2 0;
          @include text-color($text-black, 1);
          @include type-setting(0);
          &:nth-of-type(1) {
            @include grid-column(1);
            display: table-cell; vertical-align: middle;
            > a  {
               &:nth-of-type(1) {
                display: block;
                width: 48px;
                height: 48px;
                margin-top: 35px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              }
            }

          }

          &:nth-of-type(2) {
            @include grid-column(7);
            > a > p {
              @include text-color($text-black,1);
              padding-left: 0px;
              margin-left: 0px;

              &:nth-of-type(1){ @include text-color($category-green,1); }
              &:nth-of-type(2){ font-weight: bold; }
            }
          }

          &:nth-of-type(3) { padding-bottom: 0px;@include grid-column(3); display: table-cell; vertical-align: middle; > a{@include text-color($text-grey, 1);}}
          &:nth-of-type(4) { margin-bottom: 0px; @include grid-column(5); text-align: right;display: table-cell; vertical-align: middle; > a{@include text-color($text-grey, 1);}}
          > a, > span, > i{
            @include grid-collapse;
          }
        }

      }
    }
  }
}
.works-table-cell{
  @include works-table;
}
