$light-grey: #E6E6E6;
$grey: #979797;
$green: #92c461;
$black: #505050;
$blue: #009EE2;
$red: #FF3E25;
$white: #FFFFFF;
$dark-white: #FAFAFA;
$yellow: #FFC649;
$fuchsia: #DF225B;
$light-blue: #009EE2;
$background-white: $white;
$category-green: #92c461;

// TEXT COLORS
$text-light-grey: $light-grey;
$text-grey: $grey;
$text-black: $black;
$text-blue: $blue;
$text-white: $white;

$normal-shadow: rgba(#A2A2A2, 0.55);
$light-shadow: rgba(#A2A2A2, 0.2);

$home: #46944d;
$water: #96BFF9;
$trash: #A88FDF;
$public: #B8E986;
$health: #DA95B7;
$energy: #EEC712;
$sewer: #97D3BC;
$infrastructure: #E9A07D;

$status-in-process: $blue;
$status-done: $green;
$status-pending: $yellow;
$status-expired: $red;
$status-proyected: $grey;

$urbanization-in-process: $yellow;
$urbanization-pending: $red;
$urbanization-done: $green;
