$light-grey: #E6E6E6;
$grey: #979797;
$black: #505050;
$blue: #5E82FF;
$white: #FFFFFF;
$text-light-grey: $light-grey;
$text-grey: $grey;
$text-black: $black;
$text-blue: $blue;
$text-white: $white;
$background-white: $white;

$normal-shadow: rgba(#A2A2A2, 0.55);
$light-shadow: rgba(#A2A2A2, 0.2);
