// Breakpoints
$small-screen: em(640);
$medium-screen: em(860);
$large-screen: em(1016);
$xlarge-screen: em(1200);
$gutter: 1rem;
$vgutter: 0.5rem;

// Neat configs
$mobile-grid:(
  columns: 4,
  gutter: $gutter,
  media: "(max-width: #{$small-screen})",
);
$tablet-grid:(
  columns: 8,
  gutter: $gutter,
  media: "(max-width: #{$medium-screen})",
);
$desktop-grid:(
  columns: 12,
  gutter: $gutter,
  media: "(max-width: #{$large-screen})",
);
$wide-grid:(
  columns: 16,
  gutter: $gutter,
  media: $xlarge-screen,
);

$neat-grid: $wide-grid;

// Typography
$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$font-serif: serif;
$font-heading: $font-sans;
$font-heading-sans: Arial, sans-serif;
$font-code: "Lucida Console", Monaco, monospace;

// Colors
@import "./colors";

$development: false !default;
