// Breakpoints
$small-screen: 640px;
$medium-screen: 860px;
$large-screen: 1016px;
$xlarge-screen: 1200px;
$gutter: 1rem;
$vgutter: 0.5rem;

// Neat configs
$mobile-grid: (columns: 4, gutter: $gutter, media: "(max-width: #{$small-screen})");

$tablet-grid: (columns: 8, gutter: $gutter, media: "(max-width: #{$medium-screen})");

$desktop-grid: (columns: 12, gutter: $gutter, media: "(max-width: #{$large-screen})");

$wide-grid: (columns: 16, gutter: $gutter, media: $xlarge-screen);

$neat-grid: $wide-grid;

// Typography
$font-sans: "Roboto", Helvetica, Arial, sans-serif;
$font-serif: serif;
$font-heading: $font-sans;
$font-heading-sans: Arial, sans-serif;
$font-code: "Lucida Console", Monaco, monospace;

// Colors
@import "./colors";

$development: true !default;

// General Vars
$border: 2px;
$outer-diameter: 37px;
$inner-diameter: round($outer-diameter * 0.78);

// Mobile Vars
$aside-height: 50px;
$aside-links-height: 100px;
$aside-full-height: 140px;
$navbar-height: 130px;
