#meetings-show{
  section{
    > header {
      h1{
        color: $grey;
        font-weight: 400;
        @include type-setting(0);
        font-size: 1.5em;
      }
      div{
        color: $black;
        font-weight: 200;
        @include type-setting(0);
      }
    }
  }
}
