@mixin person-card() {
  border: 2px solid $light-grey;
  border-radius: 6px;
  margin-bottom: $vgutter*2;
  padding: $vgutter*2 $gutter;
  position: relative;
  > article {
    > header {
      > figure {
        float: left;
        height: 36px;
        margin: 0;
        margin-right: $gutter;
        width: 36px;
        > img {
          border-radius: 100%;
          width: 100%;
        }
      }
      > h1 {
        line-height: 18px;
        margin: 0;
        @include text-color($text-black, 1);
        @include type-setting(-1);
      }
      > p {
        @include text-color($text-grey, 1);
        @include type-setting(-1);
        line-height: 18px;
      }
      > a {
        cursor: pointer;
        margin: 0;
        position: absolute;
        right: 21px;
        top: 21px;
        i {
          background-image: image-url("/assets/icons/close-button.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: block;
          height: 15px;
          width: 15px;
        }
      }
    }
  }
}
.person-card-cell{
  @include person-card;
}
