@mixin neighborhoods-about() {
  > main {
    height: 100%;
    > div {
      height: 100%;
      > section {
        > main {
          $navbar-height: calc( #{$gutter * 2 + $base-line-height} + 2px);
          @include grid-column(16, $no-gutter);
          height: 100%;
          > section:first-of-type {
            @include grid-column(16);
            height: 100%;
            left: auto;
            .map-show-cell {
              @include grid-collapse;
              height: 100%;
              > div {
                border-radius: 0;
              }
            }
          }
          > div {
            height: 100%;
            @include navbar();
          }
        }
      }
    }
  }
}

#neighborhoods-about {
  @include neighborhoods-about();
}
