@mixin agreement() {
  > main {
    height: 100%;
    > div {
      height: 100%;
      > section {
        > div {
          align-items: center;
          margin-top: 100px;
          position: relative;
          text-align: center;
        }
        .transition, aside {
          transition: all 0.25s ease-in-out;
        }

        ul li i {
          &:before, &:after {
            transition: all 0.25s ease-in-out;
          }
        }

        .flipIn, h1, ul li {
          animation: flipdown 0.5s ease both;
        }

        .no-select, section {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (max-width: 550px) {
          body {
            box-sizing: border-box;
            left: 0;
            margin: 0;
            max-width: 100%;
            min-height: 100%;
            transform: translate(0, 0);
          }
        }

        section {
          background-color: #fefffa;
          cursor: pointer;
          display: block;

          letter-spacing: 1px;
          margin: 0;
          > header {
            margin-bottom: $vgutter;
            margin-top: $vgutter*2;
            > h1 {
              margin: 0;
              @include text-color($text-black, 1);
              @include type-setting(5);
            }
            > p {
              @include text-color($text-black, 1);
              @include type-setting(-1);
            }
          }
          > main {
            border-bottom: 1px solid $light-grey;
            margin-bottom: $vgutter*2;

            > p {
              @include text-color($text-grey, 1);
              @include type-setting(-1);
              margin-bottom: $vgutter;
            }
            > div {
              border-radius: 3px;
              height: 7px;
              overflow: hidden;
              position: relative;
              width: 100%;
              > div {
                height: 7px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
              }
              > div:nth-of-type(1) {
                background-color: $light-grey;
              }
              > div:nth-of-type(2) {
                background-color: $blue;
                border-radius: 3px;
              }
            }
          }

        }

        aside {
          color: rgba(48, 69, 92, 0.8);
          font-size: 17px;
          letter-spacing: 1px;
          line-height: 26px;
          margin-top: 14px;
          max-height: 800px;
          opacity: 1;
          overflow: hidden;
          position: relative;
          transform: translate(0, 0);
          z-index: 2;

          @include grid-container;

          .two-thirds-one-third-input {
            > div:nth-of-type(1) {
              color: $text-black;
            }
            > div:nth-of-type(2) {
              color: $text-grey;
            }
            > div {
              @include grid-container;
              color: $text-black;
              margin-bottom: $vgutter*2;
              > span:first-of-type {
                @include type-setting(-1);
                display: block;

                margin-bottom: $gutter/7;
                text-transform: none;
              }

              > span + span {
                display: block;
              }
            }
          }
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          perspective: 900;
          li {
            border-top: 1px dotted #dce7eb;
            margin: 0;
            padding: 0;
            padding-bottom: 4px;
            padding-top: 18px;
            position: relative;
            &:nth-of-type(1) {
              animation-delay: 0.5s;
            }
            &:nth-of-type(2) {
              animation-delay: 0.75s;
            }
            &:nth-of-type(3) {
              animation-delay: 1s;
            }
            &:last-of-type {
              padding-bottom: 0;
            }
            i {
              margin-top: 16px;
              position: absolute;
              right: 0;
              transform: translate(-6px, 0);
              &:before, &:after {
                background-color: $text-blue;
                content: "";
                height: 9px;
                position: absolute;
                width: 3px;
              }
              &:before {
                transform: translate(-2px, 0) rotate(45deg);
              }
              &:after {
                transform: translate(2px, 0) rotate(-45deg);
              }
            }
            input[type=checkbox] {
              cursor: pointer;
              height: 100%;
              opacity: 0;
              position: absolute;
              width: 100%;
              z-index: 1;
              &:checked ~ {
                aside {
                  margin-top: 0;
                  max-height: 0;
                  opacity: 0;
                  transform: translate(0, 50%);
                }
                i {
                  &:before {
                    transform: translate(2px, 0) rotate(45deg);
                  }
                  &:after {
                    transform: translate(-2px, 0) rotate(-45deg);
                  }
                }
              }
            }
          }
        }

        @keyframes flipdown {
          0% {
            opacity: 0;
            transform: rotateX(-90deg);
            transform-origin: top center;
          }

          5% {
            opacity: 1;
          }

          80% {
            transform: rotateX(8deg);
          }

          83% {
            transform: rotateX(6deg);
          }

          92% {
            transform: rotateX(-3deg);
          }

          100% {
            transform: rotateX(0deg);
            transform-origin: top center;
          }
        }
      }
    }
  }
}

#neighborhoods-agreement {
  @include agreement();
}
