@mixin neighborhoods-mapping {
  height: calc(100% - #{$navbar-height});

  > main {
    height: 100%;

    > div {
      height: 100%;

      > section {
        height: 100%;

        > aside {
          @include grid-column(4, $no-gutter);

          border-right: 1px solid color($black, 0.1);
          box-shadow: 8px 0 4px -4px color($light-shadow, 0.1);
          box-sizing: border-box;
          height: 100%;
          overflow: auto;
          position: relative;
          z-index: 1;

          > div {
            @include grid-column(16);

            > header {
              h1 {
                @include text-color($text-black, 1);

                @include type-setting(5);

                font-weight: 800;
                margin-bottom: $vgutter;
              }
            }

            > section:first-of-type {
              > nav {
                > div:first-of-type {
                  @include type-setting(-1);
                  background-color: $dark-white;
                  margin-top: $gutter;
                  padding: $gutter;
                }
                .empty-content{
                  font-weight: bold;
                  padding: $gutter;
                  margin-top:$gutter;
                }
              }

              > header {
                h2 {
                  @include text-color($text-grey, 1);

                  @include type-setting(-1);

                  text-transform: uppercase;
                }
              }
            }
          }
        }

        > main {
          @include grid-column(16, $no-gutter);

          height: 400px;
          position: relative;

          > section:first-of-type {
            @include grid-column(16);

            height: 100%;
            left: auto;

            @include floating-button;

            .map-show-cell {
              @include grid-collapse;

              height: 100%;

              > div:first-of-type {
                border-radius: 0;
              }
            }
          }
        }

        > aside + main {
          @include grid-column(12, $no-gutter);
          height: 100%;

          > section:first-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#neighborhoods-mapping.neighborhoods-desktop {
  @include neighborhoods-mapping;
}
