body {
  &.single-header{
    > header {
      box-shadow: 0 5px 5px -3px $light-shadow;
    }
  }
  > header {
    padding: $gutter;
    z-index: 0;

    @include grid-media($tablet-grid) {
      @include grid-column(1 of 1);
    }
    > nav {
      @include grid-container;
      @include grid-collapse;
      > ul {
        > li {
          display: inline-block;
          vertical-align: top;
        }
      }

      .site-logo-wrapper{
        @include grid-column(3 of 12, $no-gutter);
      }
      .site-logo {
        background: transparent image-url("admin-logo.svg") no-repeat;
        background-size: contain;
        display: inline-block;
        height: 35px;
        margin: 3px 0;
        overflow: hidden;
        padding: 0px;
        vertical-align: top;
        width: 100px;
        span{
          display: inline-block;
          @include hide-text;
        }
      }
      /* Links */
      .menu {
        @include grid-column(12 of 16);
        li.item {
          > a {
            @include text-color($text-grey, 1);
            display: inline-block;
            margin-right: $gutter;
            padding: $gutter/2 0;
            &.active,
            &:hover {
              @include text-color($text-blue, 1);
            }
          }
        }
      }
      .actions {
        text-align: right;
        @include grid-column(4 of 16);
      }
    }
  }
}

@mixin user-menu() {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  width: 61px;
  > div {
    display: block;
    margin: 0 0 $vgutter 0;
    text-align: left;

    > div {
      @include shadow($normal-shadow, 1);
      border-radius: 100%;
      float: right;
      overflow: hidden;
      vertical-align: top;
    }
  }

  > ul {
    @include shadow($normal-shadow, 1);
    @include z-level(1);
    @include grid-column(3);
    background-color: $background-white;
    display: none;
    margin: 0;
    position: absolute;
    right: $gutter;
    text-align: left;
    top: calc(45px + #{$vgutter*3});
    > li {
      > a, input {
        @include text-color($text-grey, 1);
        background-color: $white;
        border:none;
        box-sizing: border-box;
        display: block;
        margin: 0; // Todos los a tienen margin right, por que?
        padding: $vgutter $gutter/2;
        text-align: left;
        white-space: nowrap;
        width: 100%;

        &:hover {
          @include background-color($text-grey, 0.1);
          @include text-color($text-black, 1);

        }
      }

      > hr {
        border: none;
        border-top: 1px solid color($text-grey, 0.2);
        margin: 0;
      }
    }
  }

  &.user-menu--opened {
    overflow: visible;
    > ul {
      display: block;
    }
  }
}

.user-menu {
  @include user-menu;
}




