= render partial: 'partials/components/page_header', links: @links
= render partial: 'partials/components/page_section', section: @section
= render partial: 'partials/components/page_section', section: @section
