@mixin header-cell() {
  @include clearfix;
  margin-bottom: $gutter;
  > ul {
    > li {
      > a, > button {
        @include text-button;
      }
    }
  }
  &.main-type {
    > article {
      h1 {
        @include type-setting(3);
        margin-bottom: $gutter;
      }
    }
  }
  &.sub-section-type {
    > article {
      h1 {
        @include type-setting(6);
      }
    }
  }
  &.danger-type,
  &.warning-type,
  &.success-type {
    @include text-color($white, 1);
    border-radius: 4px;
    box-sizing: border-box;
    padding: $gutter;
    > article {
      margin: 0;
    }
  }

  &.danger-type {
    @include background-color($red, 1);
    border: 2px solid $red;
  }
  &.warning-type {
    @include background-color($yellow, 1);
    border: 2px solid $yellow;
  }
  &.success-type {
    @include background-color($green, 1);
    border: 2px solid $green;
  }
}

@mixin header-cell-mobile() {
  > article {
    > h1 {
      @include type-setting(0);
      @include text-color($text-grey, 1);
      border-bottom: 1px solid color($light-grey);
      margin-bottom: $gutter;
      padding-bottom: $gutter;
      text-transform: uppercase;
    }
  }
}

.header-cell {@include header-cell;}
.mobile-layout .header-cell {@include header-cell-mobile;}
