@mixin button-default() {
  @include text-color($text-blue, 1);
  @include type-setting(0);
  display: inline-block;
  border: 1px solid $blue;
  border-radius: 6px;
  padding: $vgutter $gutter;
  margin: 0;
  cursor: pointer;
  @include user-select(none);
  &:hover {
    @include text-color($text-white, 1);
    background-color: $blue;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
