@mixin button() {
  @include text-color($text-blue, 1);
  @include type-setting(0);
  background: transparent;
  border: 1px solid $blue;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: $vgutter $gutter;
  @include user-select(none);
  &:hover {
    @include text-color($text-white, 1);
    background-color: $blue;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &.danger-type {
    @include background-color($red, 1);
    @include text-color($white);
    border: 2px solid $red;
  }
  &.warning-type {
    @include background-color($yellow, 1);
    @include text-color($white);
    border: 2px solid $yellow;
  }
  &.success-type {
    @include background-color($green, 1);
    @include text-color($white);
    border: 2px solid $green;
  }
}

@mixin wired-button($color: $blue) {
  @include text-color($color, 1);
  @include type-setting(0);
  display: inline-block;
  border: 1px solid $color;
  border-radius: 6px;
  padding: $vgutter $gutter;
  margin-right: $gutter/2;
  cursor: pointer;
  background: transparent;
  @include user-select(none);
  &:last-of-type{
    margin-right: 0;
  }
  &:hover,
  &:hover a {
    @include text-color($text-white, 1);
    background-color: $color;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
