$green: #25A25A !default;
$red: #c0392b !default;
$blue: #41AFD8 !default;

$button-colors: (
  'gray': (
    background: #E0E1E2,
    color: rgba(0, 0, 0, 0.6)
  ),
  'green': (
    background: $green,
    color: #FFF
  ),
  'red': (
    background: $red,
    color: #FFF
  ),
  'white': (
    background: transparent,
    border-color: #FFF,
    color: #FFF
  ),
  'blue': (
    background: $blue,
    border-color: $blue,
    color: #FFF
  )
);
@function button-background-color($color) {
  @return map-get(map-get($button-colors, $color), 'background');
}

@function button-font-color($color) {
  @return map-get(map-get($button-colors, $color), 'color');
}
@mixin button($color: 'gray', $padding: $gutter) {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  min-width: 200px;
  outline: none;
  border: none;
  vertical-align: baseline;
  padding: $padding/2 $padding;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: $padding/8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  background-image: none;
  background: button-background-color($color);
  color: button-font-color($color);
  &:hover{
    background: darken(button-background-color($color), 2%);
  }
  &.disabled{
    cursor: default;
    opacity: 0.45 !important;
    box-shadow: none !important;
    pointer-events: none !important;
  }
  > a{
    color: inherit;
    &:hover, &:visited{
      color: inherit;
    }
  }
}
@mixin small-button($color: 'gray'){
  @include button($color, $gutter/2);
  @include type-setting(-1);
}

@mixin short-button($color: 'gray'){
  @include button($color, $gutter/2);
  @include type-setting(-1);
  height: 36px;
  border-radius: 4px;
}

@mixin big-button($color: 'gray'){
  @include button($color, $gutter);
  font-size: 1.5em;
  min-width: 240px;
}

@mixin full-button($color: 'gray'){
  @include button($color, $gutter);
  width: 100%;
}
