@mixin checkbox(){
  visibility: hidden;
  position: absolute;
  & + label.check-label {
    cursor: pointer;
    position: relative;
    left: 4px;
    display: block;
    width: 24px;
    height: 24px;
  }
  & + label.check-label::before {
    content: '';
    display: block;
    left: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    visibility: visible;
    position: absolute;
    background-color: $red-covid;
    opacity: 0;
  }
  & + label.check-label::after {
    content: '';
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid rgba($grey, .8);
    border-radius: 3px;
    visibility: visible;
  }
  &:checked + label.check-label::before {
    opacity: 1;
  }
  &:checked + label.check-label::after {
    border-color: $red-covid;
  }
}
