@mixin description-text() {
  border-top: 1px solid $light-grey;
  padding-top: $vgutter*3;
  @include grid-column(16);
  & + & {
    border-top: none;
    padding-top: 0;
  }
  > p {
    @include text-color($text-black, 1);
    @include type-setting(0);
    margin-bottom: $vgutter;
  }
}
