@mixin documents-list() {
  @include grid-column(16);
  > table {
    > tbody {
      > tr {
        border-bottom: 1px solid $light-grey;
        &:first-of-type {
          border-top: 1px solid $light-grey;
        }
        &:last-of-type {
          border-bottom: none;
        }
        > td {
          padding: $vgutter*2 0;
          @include text-color($text-grey, 1);
          @include type-setting(0);
          line-height: 35px;

          &:nth-of-type(1) {
            @include grid-column(1);
            > i {
              display: block;
              width: 31px;
              height: 37px;
              background-image: url(/assets/icons/file-icon.svg);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
          &:nth-of-type(2) { @include grid-column(7); @include text-color($text-black, 1); }
          &:nth-of-type(3) { @include grid-column(5); }
          &:nth-of-type(4) { @include grid-column(3); text-align: right; }
          > a, > span, > i{
            @include grid-collapse;
          }
        }

      }
    }
  }
}