@mixin floating-button(){
  .floating-btn{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2001;
    margin: $gutter * 2;
    border-radius: 50px;
    background-color: $blue;
    color: $white;
    box-shadow: 0 2px 4px rgba(112,112,112,0.5);
    padding: $gutter/2 $gutter;
    border: none;
    outline: none;
    
    a:before{
      content: image-url('icons/close-white.svg');
      display: inline-block;
      transform:rotate(45deg) scale(.6, .6);
      margin-right: 10px;
    }
    a {
      font-size: 15px;
      font-weight: bold;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .floating-btn:hover{
    opacity: .8;
  }
}

@mixin floating-button-mobile(){
  .floating-btn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2001;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $blue;
    color: $white;
    box-shadow: 0 2px 4px rgba(112,112,112,0.5);
    border: none;
    outline: none;
    img{
      padding: 15px;
      transform:rotate(45deg) scale(.6, .6);
    }
  }
  .floating-btn:hover{
    opacity: .8;
  }
}