@mixin floating-button {
  .floating-btn {
    background-color: $red-covid;
    border: none;
    border-radius: 50px;
    bottom: 0;
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
    color: $white;
    display: flex;
    margin: $gutter * 2;
    outline: none;
    padding: ($gutter / 2) $gutter;
    position: absolute;
    right: 0;
    z-index: 2001;

    a:before {
      content: image-url("icons/close-white.svg");
      display: inline-block;
      margin-right: 10px;
      transform: rotate(45deg) scale(0.6, 0.6);
    }

    a {
      color: $white;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .floating-btn:hover {
    opacity: .8;
  }
}

@mixin floating-button-mobile {
  .floating-btn {
    background-color: $red-covid;
    border: none;
    border-radius: 50%;
    bottom: 15px;
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
    color: $white;
    height: 50px;
    outline: none;
    position: fixed;
    right: 15px;
    width: 50px;
    z-index: 2001;

    img {
      padding: 15px;
      transform: rotate(45deg) scale(0.6, 0.6);
    }
  }

  .floating-btn:hover {
    opacity: .8;
  }
}

@mixin floating-button-mobile-works {
  .floating-btn {
    background-color: $red-covid;
    border: none;
    border-radius: 50px;
    bottom: 10px;
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
    color: $white;
    display: flex;
    outline: none;
    padding: ($gutter / 2) $gutter;
    position: fixed;
    z-index: 2001;

    a:before {
      content: image-url("icons/close-white.svg");
      display: inline-block;
      margin-right: 10px;
      transform: rotate(45deg) scale(0.6, 0.6);
    }

    a {
      color: $white;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .floating-btn:hover {
    opacity: .8;
  }
}
