@mixin neighborhood-card() {
  border: 2px solid $light-grey;
  border-radius: 6px;
  padding: $vgutter*2 $gutter;
  margin-bottom: $vgutter*2;
  > article {
    > header {
      margin-bottom: $vgutter;
      > h1 {
        margin: 0;
        @include text-color($text-black, 1);
        @include type-setting(1);
      }
      > p {
        @include text-color($text-black, 1);
        @include type-setting(-1);
      }
    }
    > main {
      > p {
        @include text-color($text-grey, 1);
        @include type-setting(-1);
        margin-bottom: $vgutter;
      }
      > div {
        height: 7px;
        width: 100%;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        > div {
          position: absolute;
          top: 0;
          left: 0;
          height: 7px;
          width: 100%;
        }
        > div:nth-of-type(1) {
          background-color: $light-grey;
        }
        > div:nth-of-type(2) {
          background-color: $blue;
          border-radius: 3px;
        }
      }
    }
  }
}
