@mixin page-section() {
  @include grid-container;
  > section {
    @include grid-shift(3);
    @include grid-column(10);
    margin-bottom: $vgutter*4;
    > header {
      @include grid-collapse;
      @include display(flex);
      @include align-items(flex-end);
      margin-bottom: $gutter;
      > article{
        @include grid-column(7 of 10);
        > h1 {
          @include type-setting(1);
          margin-top: 0;
        }
        > div {
          @include grid-collapse;
          @include grid-container;
          @include text-color($text-grey);
           > span {
            @include grid-column(6 of 10);
           }
        }
      }
      > ul {
        @include grid-column(3 of 10);
        @include display(flex);
        > li {
          @include flex-grow(1);
          text-align: right;
          > a {
            @include text-color($text-blue);
            margin-right: 0;
            &:hover {
              @include text-color($text-blue);
            }
          }
        }
        > li + li {
          a {
            @include text-color($text-blue);
          }
        }
      }
      > div {
        @include grid-column(3 of 10);
        text-align: right;
      }
    }
    > main {
    }
    &.with-border {
      > .content {
        // margin-top: -$gutter;
        padding-top: $gutter;
        border-top: 1px solid $light-grey;
      }
    }
  }
}
.page-section {
  @include page-section;
}
