@mixin site-logo() {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  text-align: left;

  > figure {
    margin: 0;
    > img {
      border-radius: 100%;
      overflow: hidden;
    }
  }
}
