@mixin user-button() {
  display: inline-block;
  width: 61px;
  height: calc(45px + $vgutter);
  > a {
    display: block;
    text-align: left;
    margin: 0 0 $vgutter 0;

    > img {
      @include shadow($normal-shadow, 1);
      vertical-align: top;
      margin-right: 8px;
      border-radius: 100%;
      overflow: hidden;
    }

    > img + span {
      vertical-align: top;
      width: 8px;
      height: 45px;
      display: inline-block;
      background-image: url(/assets/icons/down-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 8px 5px;
    }
  }

  > ul {
    @include shadow($normal-shadow, 1);
    @include z-level(1);
    @include grid-column(3);
    background-color: $background-white;
    position: absolute;
    top: calc(45px + #{$vgutter*3});
    right: $gutter;
    display: none;
    text-align: left;
    margin: 0;
    > li {
      > a {
        @include type-setting(0);
        @include text-color($text-grey, 1);
        display: block;
        margin: 0; // Todos los a tienen margin right, por que?
        padding: $vgutter $gutter/2;
        white-space: nowrap;

        &:hover {
          @include background-color($text-grey, 0.1);
          @include text-color($text-black, 1);

        }
      }

      > hr {
        border: none;
        border-top: 1px solid color($text-grey, 0.2);
        margin: 0;
      }
    }
  }

  &:hover {
    overflow: visible;
    > ul {
      display: block;
    }
  }
}
