@mixin works-list() {
  @include grid-column(16);
  > table {
    > tbody {
      padding-top: 10px;
      > tr {
        border-bottom: 1px solid $light-grey;
        &:first-of-type {
          border-top: 1px solid $light-grey;
        }
        &:last-of-type {
          border-bottom: none;
        }
        > td {
          padding: $vgutter*2 0;
          @include text-color($text-black, 1);
          @include type-setting(0);
          &:nth-of-type(1) {
            @include grid-column(1);
            display: table-cell; vertical-align: middle;
            a>{
              > image {
                display: block;
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
              }
            }
            
          }

          &:nth-of-type(2) { 
            @include grid-column(7);
            >a{
              @include text-color($text-black,1);
              padding-left: 0px;
              margin-left: 0px;
              >name{
                font-weight: bold;
              }
              > category{
                @include text-color($category-green,1);
              }
            }
          }

          &:nth-of-type(3) { padding-bottom: 0px;@include grid-column(3); display: table-cell; vertical-align: middle; > a{@include text-color($text-grey, 1);}}
          &:nth-of-type(4) { margin-bottom: 0px; @include grid-column(5); text-align: right;display: table-cell; vertical-align: middle; > a{@include text-color($text-grey, 1);}}
          > a, > span, > i{
            @include grid-collapse;
          }
        }

      }
    }
  }
}