.file-uploader
  input id="#{id}" type="file" name="photo[image][]"

javascript:
  $(function() {
      new CDLV.Components['elements/file_uploader']({
      el: $('.file-uploader'),
      id: '#{id}',
      name: '#{name}',
      owner: '#{owner}',
      url: '#{url}',
    })
  });
