development: &app_config

  allowed_origins:
    - 'localhost:3300'

  aws:
    credentials:
      access_key: ''
      secret_key: ''
    s3:
      bucket: 'caminos-uploads'
    region: 'us-east-1'

  google:
    drive:
      api_key: 'AIzaSyCTdRM8X6Uo6RJyZf-LWyAgp2iE_VNMRaE'

  hostname: 'localhost'

  mapbox:
    token: ''

  redis:
    host: 'localhost'
    port: 6379
    db:   1

  ssl_enabled: false

production:
  <<: *app_config

test:
  <<: *app_config
