= content_for :main_header do
  == cell('page/header', t('.title'), breadcrumbs: [{title: t('admin.sections.dashboard'), href: admin_dashboard_path}, {title: t('admin.sections.neighborhoods'), href: admin_neighborhoods_path}, {title: current_neighborhood.name, href: admin_neighborhood_path(current_neighborhood)}, {title: t('works.works'), href: admin_neighborhood_works_path}, {title: t('actions.newf')}])

= render 'form'
