$development: false;

html , body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-sans;
  a {
    @include text-color($text-blue, 1);
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: $font-heading;
}

body{
  @include type-setting(0);
  @include text-color($text-black);

  @if $development { @include grid-visual };

  @include grid-media($wide-grid) {
    @if $development { @include grid-visual };
  }

  @include grid-media($tablet-grid) {
    @if $development { @include grid-visual };
  }

  @include grid-media($mobile-grid) {
    @if $development { @include grid-visual };
  }
}

body > main {
  @include grid-column(16);
  .main-header, .main-section{
    @include grid-collapse;
  }
  .main-header{
    @include shadow-down($light-shadow, 1);
    padding: $gutter*1.5 0 0;
    margin-bottom: $gutter*3;
  }
}

.half-input {
  @include grid-collapse;
  > div {
    @include grid-column(1 of 2);
  }
}

.two-thirds-one-third-input {
  @include grid-collapse;
  > div {
    @include grid-column(2 of 3);
    & + div {
      @include grid-column(1 of 3);
    }
  }
}
