$development: false;

html , body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-sans;
  a {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: $font-heading;
}

body{
  @if $development { @include grid-visual };
  @include grid-media($wide-grid) {
  }
  @include grid-media($tablet-grid) {
    @if $development { @include grid-visual };
  }
  @include grid-media($mobile-grid) {
    @if $development { @include grid-visual };
  }

}

main {
  @include grid-collapse;
}

a {
  margin-right: $gutter/2;
}
