@mixin meetings-carousel() {
  @include grid-column(16);
  
  * {
    box-sizing: border-box;
  }
  .slider {
      width: 100%;
      margin: 100px auto;
  }

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }

}

.meetings-carousel-cell{
  @include meetings-carousel;
}