// Simple avatar of the user, will contain a fallback with the initials.
//
// .show-fallback - will hide the image and show the fallback text

@mixin avatar-size($size) {
  &.simple {
    border-radius: $size / 2;
    height: $size;
    width: $size;
  }
}

.avatar {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  @include avatar-size(42px);

  &:not(.show-fallback) {
    background-color: transparent !important;
  }

  &.show-fallback {
    img { display: none; }
    .fallback { display: block; }
  }

  .fallback {
    display: none;
    font-size: 0.9em;
    padding-top: 100%;

    span {
      @include type-setting(0);
      color: white;
      font-weight: bold;
      left: 0;
      line-height: 1em;
      margin-top: -0.48em;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 100%;

    }
  }

  img {
    width: 100%;
  }

  &.simple {
    img {
      width: 100%;
    }
  }

  &.big{
    span {
      font-size: 60px;
    }
  }
}
