@mixin meeting-card() {
  margin-bottom: $vgutter*2;
  > a > article {
    border: 2px solid $light-grey;
    border-radius: 6px;
    padding: $vgutter*2 $gutter;
    > header {
      > h1 {
        margin: 0;
        @include text-color($text-black, 1);
        @include type-setting(1);
      }
      > p {
        @include text-color($text-black, 1);
        @include type-setting(-1);

        &:before {
          background-image: image-url("icons/marker.svg");
          background-repeat: no-repeat;
          background-size: cover;
          content: '';
          display: inline-block;
          height: 17px;
          margin-right: $gutter;
          position: relative;
          top: 4px;
          width: 13px;
        }
      }
    }
  }
  &:hover {
    > a > article{
      border-color: color($text-blue, 1);
      > header > h1 {
        @include text-color($text-blue, 1);
      }
    }
  }
}
.meeting-card-cell{
  @include meeting-card;
}
