.page-public-header-cell {
  @include grid-container;

  $navbar-height: 74px;

  background-color: $red-covid;
  box-shadow: 0 4px 4px color($light-shadow, 0.1);
  height: $navbar-height;
  position: relative;
  z-index: 1001;

  > div:first-of-type {
    box-sizing: border-box;
    height: 100%;
    padding: $gutter;

    > a {
      background: transparent image-url("logos/covid-logo-white.png") no-repeat;
      background-size: contain;
      display: inline-block;
      height: 100%;
      margin: 0;
      overflow: hidden;
      padding: 0px;
      vertical-align: top;

      > span {
        display: inline-block;

        @include hide-text;
      }
    }

    > span {
      @include type-setting(-1);

      box-sizing: border-box;
      display: inline-block;
      font-weight: 100;
      padding: ($gutter / 2) 0 ($gutter / 2) 10px;
      position: relative;
      text-align: center;
      text-align: left;
      top: 2px;
    }
  }

  > div:nth-child(2) {
    @include grid-container;

    background-color: $white;
    box-shadow: 0 2px 11px 1px rgba(162, 162, 162, 0.2);

    > nav {
      @include grid-column(4);

      .selectize-control {
        margin: ($gutter / 2) 0;
      }

      .selectize-input {
        @include text-color($text-black, 1);

        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline-block;
        font-weight: 800;
        margin: ($gutter / 2) 0 0 0;
        padding: ($gutter / 3) 0;
        vertical-align: middle;

        &:after {
          content: none;
        }

        &:before {
          content: none;
        }

        .item {
          white-space: nowrap;

          &:after {
            border-color: #808080 transparent transparent transparent;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            content: ' ';
            display: inline-block;
            height: 0;
            margin-left: 6px;
            margin-top: 6px;
            position: absolute;
            width: 0;
          }
        }
      }

      .selectize-dropdown {
        border: none;
        border-radius: 2px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: ($gutter / 2) 0;
      }

      .selectize-dropdown-content .option.active {
        background-color: color($light-grey, 0.2);
      }

      .selectize-dropdown-content .option.selected {
        background-color: color($light-grey, 0.5);
      }
    }

    > ul {
      @include grid-column(12);

      text-align: center;

      > li {
        display: inline-block;

        > a {
          @include text-color($text-grey, 1);

          @include type-setting(0);

          border-bottom: 2px solid transparent;
          display: block;
          margin-right: 0;
          padding: $gutter ($gutter * 2);
          text-align: center;

          @media (max-width: 1080px) {
            @include type-setting(-1);

            padding: $gutter;
          }

          @media (max-width: 800px) {
            @include type-setting(-2);

            line-height: 19px;
            padding: $gutter ($gutter / 2);
          }

          &.active,
          &:hover {
            @include text-color($text-red, 1);

            border-bottom-color: color($text-red, 1);
          }
        }
      }
    }
  }
}
