@mixin works-list() {
  > p {
    @include grid-column(16);
    padding: $gutter 0;
  }
  > ul {
    > li {
      padding: 0 $gutter;
      &:hover {
        @include background-color($light-grey, 0.3);
      }
      &:last-of-type > a {
        border-bottom: none;
      }
      > a {
        @include grid-container;
        border-bottom: 1px solid $light-grey;
        color: initial;
        display: block;
        padding: $gutter 0;
        > div {
          $icon-width: 55px;
          float: left;
          &:nth-of-type(1) {
            width: $icon-width;
          }
          &:nth-of-type(2) {
            width: calc(100% - #{$icon-width});
          }
          > img {
            margin-right: $gutter;
            padding-top: $gutter;
          }
          > h3 {
            @include type-setting(1);
            font-weight: bold;
          }
          > span {
            display: block;
            &:nth-of-type(1) {
              @include type-setting(-2);
              line-height: 1em;
              &.home {@include text-color($home, 1);}
              &.water {@include text-color($water, 1);}
              &.trash {@include text-color($trash, 1);}
              &.public {@include text-color($public, 1);}
              &.health {@include text-color($health, 1);}
              &.energy {@include text-color($energy, 1);}
              &.sewer {@include text-color($sewer, 1);}
              &.infrastructure {@include text-color($infrastructure, 1);}
            }
            &:nth-of-type(2) {
              @include type-setting(0);
            }
            &:nth-of-type(3) {
              @include type-setting(-1);
              @include text-color($text-grey, 1);
              float: left;
            }
            &:nth-of-type(4) {
              @include type-setting(-1);
              @include text-color($text-grey, 1);
              float: right;
            }
          }
        }
      }
    }
  }
}

@mixin works-list-mobile() {
  > p {
  }
  > ul {
    > li {
      &:hover {
      }
      &:last-of-type > a {
      }
      > a {
        border-radius: 8px;
        box-shadow: 0 4px 16px 0 rgba(194,194,194,0.50);
        margin-bottom: $gutter;
        padding: $gutter;
        > div {
          &:nth-of-type(1) {
          }
          &:nth-of-type(2) {
          }
          > img {
          }
          > h3 {
          }
          > span {
            &:nth-of-type(1) {
              &.home {}
              &.water {}
              &.trash {}
              &.public {}
              &.health {}
              &.energy {}
              &.sewer {}
              &.infrastructure {}
            }
            &:nth-of-type(2) {
            }
            &:nth-of-type(3) {
            }
            &:nth-of-type(4) {
            }
          }
        }
      }
    }
  }
}


.works-list-cell{@include works-list;}

.mobile-layout .works-list-cell{@include works-list-mobile;}
