.page-header-cell {
  @include grid-container;
  padding-bottom: 0;
  &.without-links{
    margin-bottom: $gutter*1.5;
  }
  .content {
    @include grid-shift(3);
    @include grid-column(10);
    margin-bottom: $vgutter;
    .page-title {
      margin-bottom: $gutter;
      > h1 {
        @include text-color($text-black, 1);
        @include type-setting(3);
        margin-bottom: 0;
        margin-top: 0;
      }
      .pretitle,
      .subtitle {
        @include text-color($text-grey, 1);
        font-weight: 300;
      }

    }
  }
  .page-links {
    @include grid-shift(3);
    @include grid-column(10);
    > ul {
      margin-top: $vgutter;
      @include display(flex);
      > li {
        display: inline-block;
        @include flex-grow(1);
        > a {
          @include text-color($text-grey, 1);
          border-bottom: 2px solid transparent;
          display: block;
          margin-right: 0;
          padding: $vgutter $gutter;
          text-align: center;
          &.active,
          &:hover {
            @include text-color($text-blue, 1);
            border-bottom-color: color($text-blue, 1);
          }
        }
      }
    }
  }
}
