#claims-new.claims-mobile {
  .main-section{
    .claim-header{
      .page-header-cell{
        .content{
          left: 0;
          width: 100%;
          padding-top: $gutter;
        }
      }
    }
    .claims_form{
      .alert {
        align-items: flex-start;
        background-color: color($warning, 0.3);
        border: 2px solid $yellow;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        margin: $gutter;
        padding: $gutter;

        > div:first-of-type {
          margin-right: $gutter;
        }
      }
      .page-section{
        .work-parent,
        .category-parent{
          @include type-setting(-1);
          display: block;
        }
        > section{
          padding: $gutter;
          left: 0;
          margin: 0;
          width: 90%;
        }
        .form-section{
          .field select{
            width: 100%;
          }
        }
      }
    }
    .submit-claim-cta{
      display: flex;
      justify-content: center;
      input{
        background: $blue;
        color: $white;
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding: $gutter;
        border: none;
        outline: none;
        box-shadow: 0 2px 4px rgba(112,112,112,0.5);
        border-radius: 6px;
      }
    }
  }
}