@mixin neighborhoods-mobile-about() {
  > main {
    height: calc(100% - #{$aside-height});
    > div {
      height: 100%;
      > main {
        height: 100%;
        > section {
          @include grid-column(16);
          > div {
            margin-bottom: $gutter*2;
          }
        }
        > section:first-of-type {
          @include grid-column(16, $no-gutter);
          height: 100%;
          margin-bottom: $gutter*2;
          .map-show-cell {
            > div {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

#neighborhoods-about.neighborhoods-mobile {
  @include neighborhoods-mobile-about();
}
