#neighborhoods-mapping.neighborhoods-mobile{
  @include floating-button-mobile();
  .claims-empty-state{
    text-align: center;
    padding:$gutter;
    font-weight: bold;
    align-self: center;
  }
}