@mixin map-show {
  height: 100%;
  position: relative;

  > div:first-of-type {
    border-radius: 8px;
    height: 100%;
    min-height: 400px;
    overflow: hidden;
  }

  .leaflet-tile-pane {
    opacity: 0.6;
  }

  .leaflet-shadow-pane {
    opacity: 0.2;
  }

  .geometry-work {
    &.home {
      stroke: $home;
    }

    &.water {
      stroke: $water;
    }

    &.trash {
      stroke: $trash;
    }

    &.public {
      stroke: $public;
    }

    &.health {
      stroke: $health;
    }

    &.energy {
      stroke: $energy;
    }

    &.sewer {
      stroke: $sewer;
    }

    &.infrastructure {
      stroke: $infrastructure;
    }

    &.MultiPolygon,
    &.Polygon {
      &.home {
        fill: $home;
      }

      &.water {
        fill: $water;
      }

      &.trash {
        fill: $trash;
      }

      &.public {
        fill: $public;
      }

      &.health {
        fill: $health;
      }

      &.energy {
        fill: $energy;
      }

      &.sewer {
        fill: $sewer;
      }

      &.infrastructure {
        fill: $infrastructure;
      }
    }
  }

  .base-geometry {
    fill: $black;
    fill-opacity: 0.1;
    stroke: $black;
    stroke-opacity: 0.4;
    stroke-width: 2;
  }

  .map-show-popup {
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    display: none;
    padding: $gutter;
    pointer-events: none;
    position: absolute;
    transform: translate3d(10px, -50%, 0);

    > p {
      margin-bottom: 0;
    }

    > span {
      @include type-setting(-1);

      &.status-in_process {
        @include text-color($status-in-process, 1);
      }

      &.status-done {
        @include text-color($status-done, 1);
      }

      &.status-pending {
        @include text-color($status-pending, 1);
      }

      &.status-expired {
        @include text-color($status-expired, 1);
      }

      &.status-proyected {
        @include text-color($status-proyected, 1);
      }

      text-transform: uppercase;
    }

    &:before {
      border-color: transparent $white transparent transparent;
      border-style: solid;
      border-width: 5px 4px 5px 0;
      content: '';
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translate3d(-100%, -50%, 0);
      width: 0;
    }

    &.visible {
      display: block;
    }
  }
}

@mixin map-show-mobile-cell {
  .leaflet-control-container {
    display: none;
  }
}

.map-show-cell {
  @include map-show;
}

.mobile-layout .map-show-cell {
  @include map-show-mobile-cell;
}
