.map-show-cell
  #map-container
  = yield if block_given?



javascript:
  $(function() {
    new CDLV.Components['map_show']({
      el: $('.map-show-cell'),
      defaults: #{map_defaults},
      token: '#{MAPBOX_TOKEN}',
      base: #{base},
      features: #{features},
    })
  });
