@mixin description() {
  @include grid-column(16);
  & + & {
    border-top: none;
    padding-top: 0;
  }
  > p {
    @include text-color($text-black, 1);
    @include type-setting(0);
    margin-bottom: $vgutter;
  }
}

.description-cell{
  @include description;
}
