#works-show {
  .page-section {
    > section {
      > div,
      .half-input > div,
      .two-thirds-one-third-input > div {
        @include grid-container;
        margin-bottom: $vgutter*2;
        > span:first-of-type {
          @include type-setting(-1);
          display: block;
          color: $grey;
          margin-bottom: $gutter/7;
          text-transform: none;
        }
        > span + span {
          display: block;
        }
      }
    }
  }
}
