@mixin documents-table() {
  border-bottom: 1px solid $light-grey;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  > table {
    display: block;
    > thead {
      display: block;
      > tr {
        display: block;
        @include grid-container;
        > th, > td {
          > select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: white;
            background-image: image-url("icons/down-arrow.svg");
            background-position: center right;
            background-repeat: no-repeat;
            border-color: white;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 15px;
            margin-right: 10px;
            padding-right: 25px;
          }
          &:nth-of-type(1) {
            @include grid-column(1);
          }
          &:nth-of-type(2) {
            @include grid-column(7);
          }
          &:nth-of-type(3) {
            @include grid-column(5);
          }
          &:nth-of-type(4) {
            @include grid-column(3);
          }
          display: block;
        }
      }
    }
    > tbody {
      display: block;
      > tr {
        @include grid-container;
        border-bottom: 1px solid $light-grey;
        display: block;
        &:first-of-type {
          border-top: 1px solid $light-grey;
        }
        &:last-of-type {
          border-bottom: none;
        }
        > td {
          line-height: 35px;
          padding: $vgutter*2 0;
          @include text-color($text-grey, 1);

          &:nth-of-type(1) {
            @include grid-column(1);
            > i {
              background-image: image-url("icons/file-icon.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              display: block;
              height: 37px;
              width: 31px;
            }
          }
          &:nth-of-type(2) { @include grid-column(7); @include text-color($text-black, 1); }
          &:nth-of-type(3) { @include grid-column(5); }
          &:nth-of-type(4) { @include grid-column(3); float: right; text-align: right; }
          > a, > span, > i{
            @include grid-collapse;
          }
          > a {
            display: block;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
        }

      }
    }
  }
}
.documents-table-cell{
  @include documents-table;
}
