= content_for :main_header do
  == cell('page/header', t('.user_profile'), breadcrumbs: [ t('admin.sections.dashboard'), t('admin.sections.users') ] )
== cell('forms/user', @user, neighborhoods: @neighborhoods, neighborhood: @neighborhood, url: admin_user_path(@user), action: 'update')
