= content_for :main_header do
  == cell('page/header', t('.new_user'), breadcrumbs: [ {title: t('admin.sections.dashboard'), href: admin_dashboard_path}, {title: t('admin.sections.users'), href: admin_users_path} ] )
== cell('forms/user', @user, neighborhoods: @neighborhoods, neighborhood: @neighborhood, url: admin_users_path, action: 'create')
