= content_for :main_header do
  == cell('page/header', t('.new_user'), breadcrumbs: [ t('admin.sections.dashboard'), t('admin.sections.users') ] )
== cell('forms/user', @user, neighborhoods: @neighborhoods, neighborhood: @neighborhood, url: admin_users_path, action: 'create')
