#neighborhood-index{
  section {
    @include grid-column(6);
    @include grid-push(3);

    @include grid-media($tablet-grid) {
      @include grid-column(1 of 1);
    }

    h3{
      @include type-setting(1)
    }

    .neighborhoods-list{
      margin-top: $gutter;
      .neighborhood-data{
        margin-bottom: $gutter;
        padding-bottom: $gutter;
        border-bottom: 1px dashed #cdcdcd;
      }
    }
  }
}
